body {
	margin: 0;
}

/* Barre de navigation */

.nav{
	position: absolute;
	top: 0.5em;
	left: 2em;
}

.nav a{
	display: block;
	padding: 10px;
	border: 1px solid #77FE72;
    text-decoration: none;
	color: #77FE72;
}

/* Autheurs */

.description h3{
        position: absolute;
    font-family: monospace;
    font-weight: bold;
    top : 60px;
    left: 32%;
    right: 32%; 
    text-transform: uppercase;
    text-align: center;
    color: #F3F3E5;
}

/* Liens pour l'accès aux versions */

.link {
	font-family: monospace;
	font-weight: bold;
	text-align: center;
}

.link:hover {
	color: #F3F3E5;
}

/* Addaptation à la taille de la page */

@media screen and (max-width:50em) {
	.nav {
		right: 2em;
	}
	.link {
		-webkit-flex: 1;
		flex: 1;
	}
    .description h3{
        color: transparent;
    }
    
}